 /* .login2{
    position: fixed;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: red;
    background-color: goldenrod;
    align-items: center;
}  */
.email{

}

.H1{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;

}

/* .logo{
    position: fixed;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.form{
    background-color: blue;
}
.login{
    color: rgb(11, 194, 102);
    font-size:150%;
    font-display: italics;
    border-color: slateblue;
    background: snow;
    padding: 20px;
    border-radius:15px;
    height:80px;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.login2{
    max-width: 550px;
    margin: 50px;
    color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


.logincorner1{
    border-radius: 25px;
    border: tomato;
}
.resetpass label{
     color: rgb(101, 11, 204);
}
body{
    background-image: url("KCLP logo.jpg" );
    border-color: tomato;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form .div .label{
font-size:100px ;
color: orange;


}
.btn{
    border-radius:8px;
     background-color:#66bfbf ;
     height: 30px;
     width:60px;
}
.btn:hover{
    color:white;
}